*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif
}
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    
}
img{
    cursor: pointer;}


.topnav{
    display: flex;
    align-items: center;
}
nav{
    padding: 15px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background:#19728B;
    position: sticky;
    top: 0;
    z-index: 10;
}

.topnav img{
    width: 400px;
    margin-right: 25px;
    height: 120px;
    object-fit: none;
}
.navmid a{
    margin: 30px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    position: relative;
  text-decoration: none;
}
.navmid a:hover{
    color: black;
    font-weight: 800;
    font-size: 20px;
    
}
.navmid a::before{
    content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}
.navmid a:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}
.navright{
    padding: 20px 50px;
    color: black;
    background-color: #FDD2B9;
    border-radius: 50px;
    border: solid black;
    text-align: center;
    box-shadow: 2px 2px 2px #6c6b6b;
}
.navright:hover{
    
    box-shadow: 6px 6px 6px #5a5a5a;
    
    
}
.navright a{
    font-size: 30px;
    color: black;
    font-weight: 700;
}

.navright p{
    font-size: 17px;
}
.search{
    display: grid;
}

.search .search-box{
    border: 3px solid rgb(9, 9, 9);
    margin-right: 30px;
    padding: 10px 12px;
    border-radius: 25px;
    width: 550px;
    background-color: white;
    margin: 20px;
}
 .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 20px;
     
}
 .search-box img{
    width: 30px;
    margin-left: 470px;
    margin-top: -60px;
}
.container{
    min-height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 19%;
    padding-right: 2%;
    
    background-color: #6acfeb;
    
}

.container h1{
    margin: 40px;
}

.card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    
   
}

.card{
    position: relative;
    background: white;
    max-width: 250px;
    width: 325px;
    height: auto;
    margin: 25px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    overflow: hidden;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-image{
max-height: 200px;
}

.card-image img{
    max-width: 100%;
    height: auto;

}

.card-info{
    position: relative;
    color: #222;
    padding: 10px 20px 20px;
}

.card-info h3{
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 40px;
}

.card-info p{
    font-size: 1em;
    margin-bottom: 5px;
}

.pagination{
    text-align: center;
    margin: 10px 10px 60px;
    user-select: none;
}

.pagination li{
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination li a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 45px;
}
.previous-page, .next-page{
    background: #19728B;
    width: 80px;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.3s ease;
}

.previous-page:hover, .next-page:hover{
    transform: translateX(5px);

}

.current-page, .dots{
    background: #ccc;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.disable{
    background: white;
}

.active{
    background: #19728B;
}






#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    margin-top: 100px;
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 50px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  /* The Close Button */
  .close2 {
    position: absolute;
    top: 50px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close2:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
   /* The Close Button */
   .close3 {
    position: absolute;
    top: 50px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close3:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

   /* The Close Button */
   .close4 {
    position: absolute;
    top: 50px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close4:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .discount{
    margin-top: 100px;
    text-align: center;
    align-items: center;
    margin-left: 250px;
    margin-bottom: 400px;
}
.free{
    padding: 50px 50px;
    background-color: #19728B;
    width: 800px;
}
.free img{
    margin-bottom: 20px;
}
.free p{
    font-size: 25px;
    color: #d8eff3;
    margin-bottom: 50px;
}
.free button{
    padding: 30px 80px;
    font-size: 25px;
    border-radius: 50px;
    font-weight: bold;
}
.free button:hover{
    padding: 30px 80px;
    font-size: 25px;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    background-color: #19728B;
    border: solid white;
}

.list-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-top: 15px;
}
.vid-list .thumbnail{
    width: 100%;
    border-radius: 5px;
}


.vid-list img:hover{
    opacity: 0.7;
    transition: opacity 0.7s;
}
.vid-list .flex-div{
    align-items: flex-start;
    
}

.vid-info{
    color: #5a5a5a;
    font-size: 13px;
    padding: 15px;
    padding-bottom: 0px;
}
.vid-info p{
    font-size: 15px;
}
.vid-info a{
    color: #000;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
    font-size: larger;
}
.vid-info a:hover{
    color: #754738;
}
.vid-info img{
width: 25px;
margin-bottom: 10px;
float: right;
}
.vid-info h4{
   margin-top: 30px;
}
 .list-container button{
    outline: 1px;
    border: 0;
    text-align: left;
    border-radius: 10px;
    background: #fff;
   box-shadow: 2px 2px 2px #6c6b6b;
   
   
}
.list-container button:hover{
    box-shadow: 6px 6px 6px #5a5a5a;
}
.vid-list video{
    width: 350px;
    margin: 23px;
    border-radius: 20px;
}   

/* sidebar */



.sidebar{
    background: #4eaac4;
    width: 17%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 1%;
    padding-top: 180px;
    display: flex;
    flex-direction: column;
    overflow: auto;
   
}
.shortcut-links a img{
    width: 20px;
    margin-right: 20px;
    
}
.shortcut-links a{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: fit-content;
    flex-wrap: wrap;
   color: #000;
   font-size: 20px;  
}

.shortcut-links a:hover{
color: white;
padding-left: 20px;
font-weight: bolder;
font-size: larger;

}
.shortcut-links a:first-child{
    color: white;
    font-weight: bolder;
}
.sidebar hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
}
.subcribed-list h3{
    font-size: 13px;
    margin: 20px 0;
    color: #5a5a5a;
}
.subcribed-list a{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    color: #000;
    font-weight: bold;
    font-size: larger;
}
.subcribed-list a img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}
.small-sidebar{
    width: 5%;
}
.small-sidebar a p{
    display: none;
}
.small-sidebar h3{
    display: none;
}
.small-sidebar hr{
    width: 50%;
    margin-bottom: 25px;
}